/* Resetear estilos y margenes 

Selector universal *
Selector de tipo body{

}

*/

* { 
margin: 0;
padding: 0;
box-sizing: border-box; /* Hace que el ancho y alto de un elemento incluya tambien su sbores y padding */
font-family:Arial, Helvetica, sans-serif 
}

body {
    background-color: #1a1a1a;
    height: 100vh;
    display: block;
    text-align: center;
    padding-top: 30px;
}

/* Selector clase */
.contenedor {
    width: 100%;
    height: auto;
}

.targeta {
    background-color: rgba(255, 255, 255, 0.1);
    width: 320px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

.perfil{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* Nombre del usuario */

h1 {
    color: white;
    font-size: 24px;
    margin: 10px 0;
}

/* Descripción */
p {
color: #bbb;
margin-bottom: 20px;
}


.enlaces a{
display: block;
margin: 10px 0;
padding: 15px;
border-radius: 8px;
background-color: rgba(255, 255, 255, 0.3);
color: white;
text-decoration: none;
transition:  background-color 0.3s;
}

.enlaces a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.redes a {
    display: inline-block;
    margin: 10px 13px;
    font-size: 24px;
    color: white;
    text-decoration: none;
    transition: transform 0.2s;

}

.redes a:hover {
    transform: scale(1.2);
}

